[Unit]
Description=Hyprland automation script

[Service]
ExecStart=/home/chasinglogic/.local/bin/hypr-automation
Restart=on-failure

[Install]
WantedBy=graphical-session.target
