[user]
    email = mathew@chasinglogic.io
    name = Mathew Robinson

[include]
    path = ~/.gitconfig_local

[pull]
    default = current
	ff = only

[includeIf "gitdir:~/Work/"]
  path = ~/.work.gitconfig

[magit]
    hideCampaign = true

[core]
    excludesfile = ~/.gitignore_global
    hooksPath = ~/.githooks

[add]
    verbose = true

[commit]
    verbose = true
    gpgSign = false

[pretty]
    olcolor = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>

[alias]
    unstage = reset HEAD --
    amend = commit --amend --no-edit
    vader = push --force-with-lease
    contains = branch -a --contains
    where = branch -a --contains
    whereis = branch -a --contains
    cp = cherry-pick
    l = log --graph --date-order  --pretty=olcolor
    ru = remote update
    ck = checkout
    st = status
    a = add
    c = commit
    r = rebase
    rc = rebase --continue
    f = fetch
    pl = pull
    ps = push
    rh = rebase origin/HEAD
    rhi = rebase -i origin/HEAD
    b = branch
    update = !git add . && git commit --amend --no-edit && git push --force-with-lease

[pager]
    branch = false

[diff]
    renameLimit = 4487

[branch]
    autosetupmerge = true
    autosetuprebase = remote
[rebase]
    autosquash = true
[push]
    default = current
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[url "https://invent.kde.org/"]
    insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
    pushInsteadOf = kde:
[merge]
	ff = only
