* {
    border: none;
    border-radius: 0;
    font-family: "Fira Code Nerd Font; Fira Code";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: black;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

tooltip {
  background: black;
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    border-bottom: 3px solid white;
}


.module {
  color: white;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 10px;
}

#mode {
    padding: 0 10px;
    background: #64727D;
    border-bottom: 3px solid white;
}

#network {
    color: #FF8A65;
    border-bottom: 3px solid #FF8A65;
}

#wireplumber {
    color: #81D4FA;
    border-bottom: 3px solid #81D4FA;
}

#clock {
    color: #BA68C8;
    border-bottom: 3px solid #BA68C8;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery {
    color: white;
    border-bottom: 3px solid white;
}

#battery.charging, 
#battery.full, 
#battery.plugged {
    color: #26D05B;
    border-bottom: 3px solid #26D05B;
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
